body, html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #000000;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,1.00);
	z-index: 2;
	opacity: .98;
	display: none;
}

img {
	position: absolute;
	z-index: 2;
}

canvas {
	position: absolute;
	top: -20%;
}

#light {
  position: absolute;
  left: 21%;
  top: 5%;
  width: 500px;
  height: 500px;
  box-shadow: inset 0 0 150px 150px #000;
  background: #fff;
  z-index: 10;
  opacity: .1;
  display: none;
}

.light-off {
  box-shadow: inset 0 0 150px 250px #000 !important;
}